ul li.nav-item a.nav-link {
	font-size: 18px;
}
.about {
	background-color: #212529;
	font-size: 18px;
}
img.render_img {
    z-index: 5;
}
img:not(.bodyskin) {
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
form.add_form, form.register, form.login {
    top: 10px;
    z-index: 5;
}

.about p {
	background-image: linear-gradient(to bottom right, rgb(112, 122, 142), rgb(210, 143, 32));
	-webkit-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.publication {
    background-color: #e2e2e2;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background-color: #6289d7;
    border-radius: 15px;
    border: 3px solid whitesmoke;
}
::-webkit-scrollbar-thumb:hover {
    background-color: dodgerblue;
}
nav div {
	filter: opacity(0.8);
}
form.add_form {
	padding-top: 100px;
}
span.title {
	font-size: 64px;
	background-image: linear-gradient(to bottom right, rgb(10, 28, 52), rgb(210, 143, 32));
	-webkit-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
	background-image: linear-gradient(to bottom right, rgb(10, 28, 52), rgb(210, 143, 32));
	-webkit-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
}
a.nav-link {
	color: #e2e2e2;
	font-family: arial;
}
@font-face {
	font-family: GULAG;
	src: url("{% static 'GULAG.otf' %}");
}
/* h1, li a, p, span {
	font-family: GULAG;
} */
.desc {
	margin-top: 40px;
}
.navbar {
	z-index: 999;
  	position: fixed; 
	box-shadow: 0.25em 0.25em 5px rgba(122,122,122,0.4); 
	top: 0; left: 0; 
	width: 100%; 
	border-radius: 10px;
}

/* Стили заднего фона */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

#main{
    background: #212529;  
    background: -webkit-linear-gradient(to left, #212529, #161616);  
    width: 100%;
    height: 100%;
	z-index: -1;
}
#main img {
    z-index: 3;
}
#add_post, #contacts, #blog {
	background: #212529;  
    background: -webkit-linear-gradient(to left, #212529, #161616);  
    width: 100%;
    height: 100vh;
	z-index: -1;
}

.publication{
    position: relative;
    max-width: 50%;
    top: 100px;
    z-index: 9999;
}

.elements{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.elements li.square{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.elements li.square:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.elements li.square:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.elements li.square:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.elements li.square:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.elements li.square:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.elements li.square:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.elements li.square:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.elements li.square:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.elements li.square:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.elements li.square:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}